---
layout: default
---

<div id="content">

	<!-- share link: <a target="_blank" style="float:right;margin-top:15px" href="http://twitter.com/share?url="><span class="balloon">retweet</span><img src="/image/tweet.png"></a>   -->
	<h2>{{ page.title }}</h2>

	<p class="date">{{ page.date | date: "%Y-%m-%d" }}</p>
	<div class="cnt">
	{{ content }}


	{% if page.categories[0] == "tech" or page.categories[0] == "album" %}
		<p><br />-----本文采用创作共用版权 CC BY-NC-ND/2.5/CN <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/cn/" target="_blank">许可协议</a>，转载请注明出处。</p>
	{% endif %}

	</div>

</div>

<!-- disqus start -->
{% include disqus.textile %}
<!-- disqus end -->

